SPRING_DATASOURCE_URL=jdbc:oracle:thin:@dispatchflowdb_high
SPRING_DATASOURCE_USERNAME=tu_usuario
SPRING_DATASOURCE_PASSWORD=tu_password
TNS_ADMIN=./Wallet_DISPATCHFLOWDB

AWS_REGION=us-east-1
S3_BUCKET_NAME=dispatch-flow-prod
EFS_BASE_PATH=/app/efs

# AWS_ACCESS_KEY_ID=
# AWS_SECRET_ACCESS_KEY=
# AWS_SESSION_TOKEN=
